*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    background-color: #404A65;
    color: #ECEDF0;


}


.content{
    margin:40px auto 80px;
    
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 32px;
}

h1{
    padding-top: 25px;
    grid-column: 5 / 9;
    grid-row: 1 / 2 ;
    
    text-align: center;
    font-family: Kanit, 'sans-serif';
    font-size: 64px;
    font-weight: 600;

    text-shadow: 2px 2px 0px #35383f;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #35383f;
}

h2 {
    grid-row: 2 / 3;
    grid-column: 4 / 10;
    font-family: Kanit, 'sans-serif';
    font-size: 24px;
    font-weight: 600;
      padding-left: 36px; 
    
    text-align: center;
}

.coin-side{
    
    grid-row: 3 / 4;
    grid-column: 6 / 8;
    margin-top:60px;
    padding-bottom:40px;
    text-align: center;
  
   
}

.coin-shadow{
    grid-row: 4 / 5;
    grid-column: 6 / 8;
    padding-top: 0px;
    padding-bottom:40px;
    padding-left:0;
    text-align: center;
}

.coin-side-name{
    grid-row: 5 / 6;
    grid-column: 6 / 8;
    text-align: center;
     font-family: Kanit, 'sans-serif';
    font-size: 24px;
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 40px;
    margin:0
}

.flip-button{
    grid-row: 6 / 7;
    grid-column: 6 / 8;
    font-family: Kanit, 'sans-serif';
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;

    padding: 6px 10px;
    background-color: #1F6FB0;
    
    color:white;
    border-radius: 8px;
    border:none;
   
    box-shadow: 0px 4px 0px 0px #23649b;
}
.flip-button:hover{
   background-color: #0F8FA0;
   cursor: pointer;
}