* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  background-color: #404a65;
  color: #ecedf0;
}

.content {
  margin: 32px auto 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap:20px;


}

h1 {
  padding-top: 25px;

  font-family: Kanit, "sans-serif";
  font-size: 64px;
  font-weight: 900;

  text-shadow: 2px 2px 0px #35383f;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #35383f;
}

h2 {
  grid-row: 2 / 3;

  font-family: Kanit, "sans-serif";
  font-size: 24px;
  font-weight: 600;
  padding-left: 36px;

 
}

.coin-side {

  padding-top: 32px;
  text-align: center;
}

.coin-shadow {
 
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
 
}

.coin-side-name {
 
  font-family: Kanit, "sans-serif";
  font-size: 24px;
  font-weight: 600;
  padding-top: 0px;
  padding-bottom: 40px;
  margin: 0;
}

.flip-button {
 
  font-family: Kanit, "sans-serif";
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;

  padding: 6px 10px;
  background-color: #1f6fb0;

  color: white;
  border-radius: 8px;
  border: none;

  box-shadow: 0px 4px 0px 0px #23649b;
}

.flip-button:hover {
  background-color: #0f8fa0;
  cursor: pointer;
  text-align: center;
}
